<div>
    <h1 mat-dialog-title><mat-toolbar><mat-icon>list</mat-icon><span>Flight Details</span></mat-toolbar></h1>
    <div mat-dialog-content>
        <p>Flight ID :</p>
        <mat-form-field>
            <input matInput [(ngModel)]="data.name">
        </mat-form-field>
        <p>Flight Name :</p>
        <mat-form-field>
            <input matInput [(ngModel)]="data.collection">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button [disabled]="(data.name=='')||(data.collection=='')" mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
    </div>
</div>